files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGHDCCBAQCCQC1AEsJcrFcdTANBgkqhkiG9w0BAQsFADCBzzELMAkGA1UEBhMC
      VUExFTATBgNVBAgMDFphcG9yaXpoemhpYTEVMBMGA1UEBwwMWmFwb3Jpemh6aGlh
      MRQwEgYDVQQKDAtQb2x5IFdhbGxldDENMAsGA1UECwwEVGVjaDFDMEEGA1UEAww6
      cG9seXdhbGxldC1lbnYuZWJhLTM5cHptdnRwLmV1LXdlc3QtMy5lbGFzdGljYmVh
      bnN0YWxrLmNvbTEoMCYGCSqGSIb3DQEJARYZaWxsaWEuYW50eXBlbmtvQGdtYWls
      LmNvbTAeFw0yMzAzMDkxMzI5MTBaFw0yNDAzMDgxMzI5MTBaMIHPMQswCQYDVQQG
      EwJVQTEVMBMGA1UECAwMWmFwb3Jpemh6aGlhMRUwEwYDVQQHDAxaYXBvcml6aHpo
      aWExFDASBgNVBAoMC1BvbHkgV2FsbGV0MQ0wCwYDVQQLDARUZWNoMUMwQQYDVQQD
      DDpwb2x5d2FsbGV0LWVudi5lYmEtMzlwem12dHAuZXUtd2VzdC0zLmVsYXN0aWNi
      ZWFuc3RhbGsuY29tMSgwJgYJKoZIhvcNAQkBFhlpbGxpYS5hbnR5cGVua29AZ21h
      aWwuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA03ldU+Uqjt4s
      LSyqj3LwRgcqsVxcL4tmGa96foMHuhNPyWvB1nkiZVLQ6IhSfSfoMpdYHEX6QaJR
      kAkc0JxPEUrHYqzlxMhT9eRGwMYlo0YtyfhHNP5LDUqDRNjJILnMaukSVDGtjGA8
      6Lw53LPtTfUyBrQrPjyGlp10fmgLfg5rfHW20pAhYTa7ZtjmfBMJWt4nPChkH410
      W6zdZOSplQdDjDkjLkdOZ95MD8gqBu/qyF5WlljnEczyWsp+WrUuhv1oScp7w6sB
      M/hTw8sqPwARm+MSgdWXFH+0M1rcBBLlv4zLA55SnaBAVHB5dBeRV1KORIGJfJm6
      avQ1EL1s5PnrD1v2R3EzLFKjtXq8mibBBSh9Uy63+q8QMaq+FyRG1dQwD9GtJbmp
      HzKHC4Dtpd2T7XWDzAWCY8XX1Eg6t9TmEblZTB/U+1j0AhbVcYk0Ym7QKwXvwBg4
      jakSxNRrHotjKpic1iGS2ebcRaPiFvw0AHycyHZoSzu4X/pYnCxtcA4NR/h9OeX8
      bgMESTc4LiUd5h8PR6Vwe8L0t6DNROT1mkQolqol9X3LGmBF2GI1QheoUNEgdDFz
      0utRjt2IB0VujV/9WGEkOVEnbrC5Zh3R/xGGyYeMvJUVfTx+4pTqPsNQ6eRNzB70
      QzTmJxRGLTMuWLDhyYM7YK8TGyNEF5MCAwEAATANBgkqhkiG9w0BAQsFAAOCAgEA
      MQFRvAeX3opSKL4nCUoSIZ6KguAS+tpZkJLIXXnBs11OgGnRS0BMKnLNVgEB1xpd
      kWBbWdmkVKv2HzBE8tWcqsenHplV4nbrDp8YmSpRlMCLNUS88ajRVQa9dwLcOQp5
      Tkw0Ip21wi2N18s0XYYYxterjjPoE0RgBp2lyul9ItfnPo5n1QE/kjpf6r9X0bwp
      qbshvWm3fIYBxIHm/t1sSMaKJ4d6g3UKCJjNG3gfVAedbYB4ZxbXz10xV0LWDLjK
      PdM8U+2EIPG72t/XMwq3xTW0qyZC38Gvrlsz326m5/cUlmhxEDAHwxWi4jbjsHSJ
      o+O0f31nYY2Qvyp34daVRco5+pg7qSuZnnX+nuWwUtGL7aMGNAlwU8HYkAlmDyS4
      X83xEO/nLAF0PGAmsdUs9OvK9nHNIkvRJV4YbePPjrxvO1bkZTGzr2Ek8ou18YLO
      /Z+0MbvlE6xZsQ7V6GjOdvq3FVG55/SdfrNvg5wFkR86EIewUKPxmStGs5cxrgZ4
      s2/KTHCaBP36A9agITKSA98OHCjcNGm8iHvA6B0ZRKbi8Z4JkyvBSePL4DFTXonV
      JNh5vKjLM3deex2mZ5nr8RXM+pKfnR/uAadt6mpM97LAmsa4fSPEYse5e2/Gh+rA
      zaRtdTX/M4dPP4IOzm7daWvGsW84KqNQ4QFT/tRkebU=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJKgIBAAKCAgEA03ldU+Uqjt4sLSyqj3LwRgcqsVxcL4tmGa96foMHuhNPyWvB
      1nkiZVLQ6IhSfSfoMpdYHEX6QaJRkAkc0JxPEUrHYqzlxMhT9eRGwMYlo0YtyfhH
      NP5LDUqDRNjJILnMaukSVDGtjGA86Lw53LPtTfUyBrQrPjyGlp10fmgLfg5rfHW2
      0pAhYTa7ZtjmfBMJWt4nPChkH410W6zdZOSplQdDjDkjLkdOZ95MD8gqBu/qyF5W
      lljnEczyWsp+WrUuhv1oScp7w6sBM/hTw8sqPwARm+MSgdWXFH+0M1rcBBLlv4zL
      A55SnaBAVHB5dBeRV1KORIGJfJm6avQ1EL1s5PnrD1v2R3EzLFKjtXq8mibBBSh9
      Uy63+q8QMaq+FyRG1dQwD9GtJbmpHzKHC4Dtpd2T7XWDzAWCY8XX1Eg6t9TmEblZ
      TB/U+1j0AhbVcYk0Ym7QKwXvwBg4jakSxNRrHotjKpic1iGS2ebcRaPiFvw0AHyc
      yHZoSzu4X/pYnCxtcA4NR/h9OeX8bgMESTc4LiUd5h8PR6Vwe8L0t6DNROT1mkQo
      lqol9X3LGmBF2GI1QheoUNEgdDFz0utRjt2IB0VujV/9WGEkOVEnbrC5Zh3R/xGG
      yYeMvJUVfTx+4pTqPsNQ6eRNzB70QzTmJxRGLTMuWLDhyYM7YK8TGyNEF5MCAwEA
      AQKCAgEAyyEts1NSMM9Z8b6Qyp+mCi4CJUFJT2YAGbYD3JeyCVtZbWlzVLcggeEt
      x96CFbQKhuX2/Zl+DCOFYuxN4Ff0XvDMWo0nW4DtnSi7iZoLNy1G+FTi2RVWNBsZ
      wjzV3Ph7UUo1j+f0Av3CI/ABSG0QCaz3c5cGXo623N+7sVvxhhEF0BQmG1XUqlNv
      aRf5NL74Ym83ksJdgi1W0mRWeP5noj3K9VtA3sghmQXfW91x+R3lELgFRf95XRDW
      zrzo5+pXGdU5on+7qDSPQENM+qohF0jSoUFZWps2trr/9cBVzBf21arAquYeB0iR
      4knzb77fndgvzb/7t1LWzLtsaXr6p6vdyJ8nuSLtT9mf1c320NoMhOlq/9liqJJ1
      SHoAIi0AounVq3ZjguH+8Ho77AySfopEM5xzY1JZwGkhqccrTz7ew9a/a3dkZki6
      PxdAtyXl5PwJPES5v6JZYsfWhg3jwrRONPQ88OluGNPC5ebyM5kENqoOQPIDiiUV
      XVno2mWl/bEGZB5lPqfdmtt04TsWjR52ZGrogy43x/bTfvLrbUlTW39YAsrv/qqf
      f6mrSgoisQ54m5GVB/+r+As1qccu4v1skDF0tmsl0xLM6r7wzil/QVCIzc9DILrV
      Gt0jrPtVqWw4PyiUnSOe9J7mlCXHydHQ2QQDjaMW411yTyr7XykCggEBAPEOaKW6
      c4FB/kycK0ozgax+n4qhBcr3UkeMKYJK0LwLUOk16lJ3VW+e24W5Af9+Og0muZgr
      /QLUIdZdh81jNMxgAy0dAmtLbD5kP4odpH+U7HXM+MUMexGYblvscvXT6BZXjJJo
      fxrib4W5BPk07t0ibcMWmcM0VpDnFk6C5zDDXJ7o6BzjKbEDgmm3UmhxyxLc7SYj
      rMvAVK7J67YDR1fo4DjC6gdncXwwIvk/0I5bqGjS0bWXXh4OsNPBmHc9u0sfR7E8
      n/+x1cLY6iptibWthEIG8L8OG9H5J9Y3s53SN7a9NorV2DRNQZLXieUJeVU9FC3w
      C/V4oQvBq3UddGUCggEBAOCVe5bbqZnK0ebhUdOaD/yowkWFXksNv+SUA5s0aoCS
      exx7ctk4vp0MpDRaWxz8lRmN4PBVk7QUgJtujwXxAQec2Pi6joJ9U+vUWEcfPR29
      jwHfcfIRWwatop7x9T7k1amUK6GpMMtDV74XIZsxuCYxtpVX7Jl5rpR6McyBZl9h
      mDPFzLsuU0Df16XHOKF3FRKjV2L7qOCY9bP7FE9fRLPB8RFMxQUECnF8id3MbXa2
      Zgkn3tokKFo+lBA6MEwS6IKcBx330/cgkR/Q08zwpT3MfYL8HDVC+31IZq6LXVAV
      /sUYOi4daOzu8cxOBFuwou1IgZXIZWwzWCLbnVfzsJcCggEBANQ3Oymr28QPtTD8
      y5+neKHDV/FTkSX+VhFm86Qg+WKTE8g8Du5K4IxD7j7rgTbMiY7KaNnu3+99kcyG
      yuemTvUeEa3FvDt5SvIij02oiwlGsmWC7f+L3UzARWfn4c1JoSkKKlc6Z6vjbQrs
      t9QtJZzIkpkNbJDNouguiRTVaXMkioXbxXypACs2S7mGCqaoh38zwBOzlIxL5kF6
      wmiaulRKUBuofR/HkcEjH6cO5yxsxPaDotubRuBvTn0eEnvnfNvFzffax4Dzrpy7
      Gmv/wxyOhcEbGxcX9KYGE2wj3Z0zVJksOrg/SvfAi9oaputcS9Ue0IUgr2aLrDwN
      ZETWiYECggEAASUB4jzwWlZMR47yac+pMTJy+wO4/Uzuo22Vrx7PRCR6+CQw66Z8
      YjSESbgEKtumruCoOtFU1WAdX61qkS8vQCiuemYI/+U/nj4QzRv9pb8nkWzgGcm4
      2wnbgE/fXhiwdhLJPiOsmfyX3+IiS7YvKBKsyYoPLKEQILWWt2IZcXb/3ZOufW25
      AuWhJbkkMr52nweyFFEQBUUCS46GBfmIUho07k+j2Wix3O4zjavTCv3W+0j2u8nf
      YsZa3tJNGLYn9TJyXta6f9Hsq2rXCX5YeT4njZlXU3Yp7fOGgnE3YocaK0r6UO3Z
      cQuus8nZ/9WgnvD1qBvDWI/SbSsNXDtjtQKCAQEAuLrgHdoHOe8jBnb8Z53/ED6X
      U2kDAVvWDxxcZjm3TbKUpTxCLpHkhcO29vfMcWhNSvroo54F/9YyY2xNZIlqGAnq
      eZeKPab3QvhA0sGQAlV4KSVmkOXRKm+dR5FeglgdRcGY/QMJICTV8wumL/xKnUeh
      H3s4NybMs9PWcSFficNxR8nCeSgyDIXobJbd7uaVJnEdyyJ+pey6ifYhK9r56KEz
      uiu/G8OUaJsDgLdE2YL3sWFyP6R5qDOeBz0MzYlG+TqHpDOR+6FCqepQgT5uVjZ3
      gnCs4oy2sG0pxFia8eqsUgMNf37vKR3hcAnFJserIqlU8Vmcob+Q+2jDopYQ6Q==
      -----END RSA PRIVATE KEY-----
